@use "@angular/material" as mat;

@include mat.core();
@include mat.elevation-classes();
@include mat.app-background();

$m3-light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$green-palette,
        tertiary: mat.$green-palette
      ),
      typography: (
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
        plain-family: "Noto Sans",
        brand-family: "Noto Sans"
      ),
      density: (
        scale: 0
      )
    )
);

mat-card-header {
  margin-bottom: 1em;
}

mat-form-field.ng-invalid.ng-touched {
  margin-bottom: 1em;
}

:root {
  @include mat.core-theme($m3-light-theme);

  @include mat.button-theme($m3-light-theme);
  @include mat.icon-theme($m3-light-theme);
  @include mat.icon-button-theme($m3-light-theme);

  @include mat.card-theme($m3-light-theme);
  @include mat.list-theme($m3-light-theme);
  @include mat.sidenav-theme($m3-light-theme);
  @include mat.toolbar-theme($m3-light-theme);
  @include mat.expansion-theme($m3-light-theme);

  @include mat.form-field-theme($m3-light-theme);
  @include mat.input-theme($m3-light-theme);
  @include mat.datepicker-theme($m3-light-theme);
  @include mat.slide-toggle-theme($m3-light-theme);
  @include mat.select-theme($m3-light-theme);
  @include  mat.checkbox-theme($m3-light-theme);

  @include mat.snack-bar-theme($m3-light-theme);
  @include mat.dialog-theme($m3-light-theme);

  @include mat.progress-bar-theme($m3-light-theme);
  @include mat.divider-theme($m3-light-theme);
  @include mat.badge-theme($m3-light-theme);
  @include mat.menu-theme($m3-light-theme);
  @include mat.chips-theme($m3-light-theme);
  @include mat.autocomplete-theme($m3-light-theme);
}

@include mat.typography-hierarchy($m3-light-theme);
